# refs:
# - https://github.com/discourse/discourse/blob/v2.8.3/config/discourse_defaults.conf
# - https://github.com/bitnami/bitnami-docker-discourse/blob/master/2/debian-10/rootfs/opt/bitnami/scripts/discourse-env.sh

x-common-env: &common-env
  # ALLOW_EMPTY_PASSWORD is recommended only for development.
  ALLOW_EMPTY_PASSWORD: "yes"
  BITNAMI_DEBUG: "yes"
  DISCOURSE_SITE_NAME: e-Cidade
  DISCOURSE_PRECOMPILE_ASSETS: 1

  LC_ALL: pt_BR.UTF-8
  LANG: pt_BR.UTF-8
  LANGUAGE: pt_BR.UTF-8
  DISCOURSE_DEFAULT_LOCALE: pt_BR

  DISCOURSE_HOST: {{ DISCOURSE_HOST }}
  DISCOURSE_DATABASE_HOST: {{ database_host }}
  DISCOURSE_DATABASE_PASSWORD: {{ database_password }}
  DISCOURSE_DATABASE_PORT_NUMBER: {{ database_port }}
  DISCOURSE_DATABASE_SSLMODE: {{ database_sslmode }}
  DISCOURSE_DATABASE_USER: {{ database_user }}
  DISCOURSE_DATABASE_NAME: {{ database_name }}
  DISCOURSE_REDIS_HOST: redis
  DISCOURSE_REDIS_PORT_NUMBER: 6379

  DISCOURSE_SMTP_HOST: {{ smtp_host }}
  DISCOURSE_SMTP_PORT: 587
  DISCOURSE_SMTP_USER: {{ smtp_user }}
  DISCOURSE_SMTP_PASSWORD: "{{ smtp_password }}"
  DISCOURSE_SMTP_PROTOCOL: tls
  DISCOURSE_NOTIFICATION_EMAIL: noreply@{{ smtp_domain }}

version: '3.7'
services:
  redis:
    image: docker.io/bitnami/redis:6.0
    restart: on-failure
    environment:
      # ALLOW_EMPTY_PASSWORD is recommended only for development.
      - ALLOW_EMPTY_PASSWORD=yes
    volumes:
      - 'redis_data:/bitnami/redis'

  discourse:
    image: {{ DISCOURSE_DOCKER_IMAGE }}
    restart: on-failure
    ports:
      - '{{ EXPOSE_PORT }}:3000'
    volumes:
      - 'discourse_data:/bitnami/discourse'
    depends_on:
      - redis
    environment:
      <<: *common-env

  sidekiq:
    image: {{ DISCOURSE_DOCKER_IMAGE }}
    restart: on-failure
    depends_on:
      - discourse
    volumes:
      - 'sidekiq_data:/bitnami/discourse'
    command: /opt/bitnami/scripts/discourse-sidekiq/run.sh
    environment:
      <<: *common-env

volumes:
  redis_data:
    driver: local
  discourse_data:
    driver: local
  sidekiq_data:
    driver: local