upstream discourse {
  server 127.0.0.1:{{ EXPOSE_PORT }};
}

server {
  listen 80;
  listen [::]:80;

  server_name {{ DISCOURSE_HOST }};

  rewrite_log on;

  # security
  include shared.d/security.conf;


  merge_slashes     off;

  # logging
  access_log /var/log/nginx/{{ DISCOURSE_HOST }}.access.log;
  error_log  /var/log/nginx/{{ DISCOURSE_HOST }}.error.log warn;

  # favicon.ico
  location = /favicon.ico {
    log_not_found off;
    access_log    off;
  }

  # robots.txt
  location = /robots.txt {
    log_not_found off;
    access_log    off;
  }

  # additional config
  include shared.d/error.conf;
  include shared.d/compress.conf;


  location / {
    proxy_pass         http://discourse/;
    proxy_redirect     off;

    proxy_set_header   Host             $host;
    proxy_set_header   X-Real-IP        $remote_addr;
    proxy_set_header   X-Forwarded-For  $proxy_add_x_forwarded_for;

    client_max_body_size       10m;
    client_body_buffer_size    128k;

    proxy_connect_timeout      90;
    proxy_send_timeout         90;
    proxy_read_timeout         90;

    proxy_buffer_size          4k;
    proxy_buffers              4 32k;
    proxy_busy_buffers_size    64k;
    proxy_temp_file_write_size 64k;
  }
}
